extends layout

block content
    .contenedorBotones.mb-3#botones
        case turno.id_estado_turno
            when 2
                h3 Reservado
                button#btnConfirmar.btn.confirmado(type="button" onclick="mostrarFormulario()") Confirmar
                button#btnCancelar.btn.cancelado(type="button" onclick="mostrarFormulario()") Cancelar
            when 3
                h3 Confirmado
                button#btnCancelar.btn.cancelado(type="button" onclick="mostrarFormulario()") Cancelar
                button#btnPresente.btn.presente(type="button" onclick="mostrarFormulario()") Presente
                button#btnAusente.btn.ausente(type="button" onclick="mostrarFormulario()") Ausente
            when 4
                h3 Cancelado
            when 5
                h3 Ausente
            when 6
                h3 Presente
                button#btnEnConsulta.btn.en-consulta(type="button" onclick="mostrarFormulario()") En Consulta
            when 7
                h3 En consulta
                button#btnAtendido.btn.atendido(type="button" onclick="mostrarFormulario()") Atendido
            when 8
                h3 Atendido
            default 
                h3 Libre
                button#btnReservar.btn.reservado(type="button" onclick="mostrarFormulario()") Reservar
                button#btnSobreturno.btn.sobreturno(type="button" onclick="mostrarFormulario()") Sobre Turno

    .contenedorForm.d-none#formularioTurno
        form.allforms.m-3(action="/turno/tomar" method="POST" class="needs-validation")
            .mb-3
                label(for="motivo" class="form-label") Motivo
                textarea#motivo.form-control(name="motivo" placeholder="Ingrese el motivo" rows="3" required)
                .invalid-feedback El motivo es obligatorio.
            .mb-3
                label(for="paciente" class="form-label") Seleccionar Paciente
                input#paciente.form-select(list="pacientes" name="dniPaciente" required)
                .invalid-feedback El paciente es obligatorio
                datalist#pacientes
                    each paciente in pacientes
                        option(value=paciente.dni) #{paciente.nombre} #{paciente.apellido}
                .invalid-feedback Es obligatorio seleccionar un paciente.
            input#id_turno(name="id_turno" type="hidden" value="")
            input#estado_turno(type="hidden" name="estado_turno" value="")
            button.btn.btn-primary(type="submit") Guardar

    script(src="/validaciones.js")