extends layout

block content
    .contenedorForm
        form.allforms.m-3(action="/turno/tomar" method="POST" class="needs-validation")
            .mb-3
                label(for="motivo" class="form-label") Motivo
                textarea#motivo.form-control(name="motivo" placeholder="Ingrese el motivo" rows="3" required)
                .invalid-feedback El motivo es obligatorio.
            .mb-3
                label(for="paciente" class="form-label") Seleccionar Paciente
                input#paciente.form-select(list="pacientes" name="dniPaciente" required)
                .invalid-feedback El paciente es obligatorio
                datalist#pacientes
                    each paciente in pacientes
                        option(value=paciente.dni) #{paciente.nombre} #{paciente.apellido}
                .invalid-feedback Es obligatorio seleccionar un paciente.
            input#id_turno(name="id_turno" type="hidden" value="")
            button.btn.btn-primary(type="submit") Guardar