extends layout

block content
    #calendar
    .container
            .card
                .card-body
                h1.text-center Buscar Agenda
                .divAgendas
                    .mb-3
                    label(for="agenda" class="form-label") Seleccione un Agenda
                    select#agenda.form-select(name="id_agenda" required)
                        each agenda in agendas
                            option(value=agenda.id_agenda) #{agenda.nombre} #{agenda.apellido} #{agenda.nombre_especialidad}  
                    .invalid-feedback Debe seleccionar una agenda
                    .boton.d-flex.justify-content-center
                    button.btn.btn-primary(type="button" onclick="cargarCalendario()") Buscar
    script(src="/tomarTurno.js")  
    script(src="/calendar.js")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous")                              