header
  nav.navbar.navbar-expand-lg.bg-body-tertiary
    .container-fluid
      img(src="../images/logomedico3.png", alt="logo" width='100' heigth='100')
      button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarNav
        ul.navbar-nav.me-auto
          li.nav-item
            a.nav-link.medico-link(aria-current="page", href="/") Home
          if(usuario.rol === "Médico" ||  usuario.rol === "Paciente" || usuario.rol === "Secretario" || usuario.rol === "Administrador")
            li.nav-item
              a.nav-link.medico-link(aria-current="page", href="/turno/darturno") Turno
          if(usuario.rol === "Médico" || usuario.rol === "Administrador")
            li.nav-item
              a.nav-link.medico-link(aria-current="page", href="/agendas/crearAgenda") Agenda
          if(usuario.rol === "Administrador")
            li.nav-item
              a.nav-link.medico-link(aria-current="page", href="/usuario/listar") Usuario
          if(usuario.rol === "Administrador")
            li.nav-item
              a.nav-link.medico-link(aria-current="page", href="/medico/datos") Medico
        ul.navbar-nav.ms-auto
          li.nav-item
            if usuario
              form.cerrarSesion(action="/inicio/cerrarSesion" method="POST")
                h5.ml-10 #{usuario.nombre} #{usuario.apellido} / #{usuario.rol}
                button.btn.btn-primary(type='submit' value='Cerrar Sesión' style="margin-left:10px;") Cerrar Sesion
            else
              p No hay usuario autenticado

